{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    {% for repository in repositories %}
        <li><a href="{{ path('repository_show', { 'repository': repository }) }}">{{ repository }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}